.Assessment {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin-top: 4rem;
    flex-direction: row;
    background-color: #F6F6F6;

}

.Assessment-text {
    width: 772px;
    height: 577px;
    top: 113px;

}


.Assessment .Assessment-paras {
    margin: 2rem 0;
    font-weight: 100;
    color: #5C27C0;
    font-size: 35px;

}

.Assessment .span {
    margin: 5rem 0;
    font-weight: bold;
    color: #5C27C0;
}

.Assessment .Assessment-text .facing {
    display: flex;
    gap: 13px;
    flex-direction: column;
    margin: 2rem 0;

}

.Assessment .Assessment-text .facing p {
    font-size: 17px;
}

.Assessment .Assessment-text .inside {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.Assessment .Assessment-text .inside .bold {
    display: flex;
    align-items: center;
    gap: 7px;
}

.Assessment .Assessment-text .inside span {
    font-size: 12px;
}

.Assessment .Assessment-text .inside ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.Assessment .Assessment-text .Assessment-btn {
    width: 590px;
    height: 70px;
    top: 574px;
    left: 120px;
    padding: 21px 56px 21px 56px;
    gap: 10px;
    border-radius: 20px;
    opacity: 0px;
    margin-top: 5rem;
    background-color: #5C27C0;
    border: 2px solid #5C27C0;
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;

}




/* !X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
    .Assessment {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        margin-top: 4rem;
        flex-direction: row;
        background-color: #F6F6F6;
        flex-wrap: wrap;
    }

    .Assessment-text {
        width: 100%;
        height: 100%;
        top: 113px;
    }

    .Assessment .Assessment-paras {
        margin: 2rem 0;
        font-weight: 100;
        color: #5C27C0;
        font-size: 27px;
    }

    .Assessment .Assessment-text .Assessment-btn {
        width: 302px;
        height: 89px;
        top: 574px;
        left: 120px;
        padding: 21px 56px 21px 56px;
        gap: 10px;
        border-radius: 20px;
        opacity: 0px;
        margin-top: 5rem;
        background-color: #5C27C0;
        border: 2px solid #5C27C0;
        color: #fff;
        font-family: Poppins;
        font-size: 17px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 20px;
        margin-left: 10px;
    }

    .Assessment .Assessment-img img {

        width: 226px;

    }
}

/* !Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) and (min-width: 575.98px) {
    .Assessment {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        margin-top: 4rem;
        flex-direction: row;
        background-color: #F6F6F6;
        flex-wrap: nowrap;
    }

    .Assessment-text {
        width: 100%;
        height: 100%;
        top: 113px;
    }

    .Assessment .Assessment-paras {
        margin: 2rem 0;
        font-weight: 100;
        color: #5C27C0;
        font-size: 27px;
    }

    .Assessment .Assessment-text .Assessment-btn {
        width: 302px;
        height: 89px;
        top: 574px;
        left: 120px;
        padding: 21px 56px 21px 56px;
        gap: 10px;
        border-radius: 20px;
        opacity: 0px;
        margin-top: 5rem;
        background-color: #5C27C0;
        border: 2px solid #5C27C0;
        color: #fff;
        font-family: Poppins;
        font-size: 17px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 20px;
        margin-left: 10px;
    }

    .Assessment .Assessment-img img {

        width: 226px;

    }
}

/*  !Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) and (min-width: 767.98px) {
    .Assessment {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        margin-top: 4rem;
        flex-direction: row;
        background-color: #F6F6F6;
        flex-wrap: nowrap;
    }

    .Assessment-text {
        width: 56%;
        height: 100%;
        top: 113px;
    }

    .Assessment .Assessment-paras {
        margin: 2rem 0;
        font-weight: 100;
        color: #5C27C0;
        font-size: 27px;
    }

    .Assessment .Assessment-text .Assessment-btn {
        width: 302px;
        height: 89px;
        top: 574px;
        left: 120px;
        padding: 21px 56px 21px 56px;
        gap: 10px;
        border-radius: 20px;
        opacity: 0px;
        margin-top: 5rem;
        background-color: #5C27C0;
        border: 2px solid #5C27C0;
        color: #fff;
        font-family: Poppins;
        font-size: 17px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 20px;
        margin-left: 10px;
    }

    .Assessment .Assessment-img img {

        width: 226px;

    }
}

/* !Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) and (min-width: 991.98px) {}

/*! X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) and (min-width: 1199.98px) {}

/* ! XX-Large devices (larger desktops) */